<!-- This has been left intentionally empty -->
{% extends 'base.html.njk' %}
{% block title %}Most Liked Fossils{% endblock title %}
{% block body %}
<h1>Thank you {% sess.name %}</h1>
{% endblock body %}